h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.title {
  /* background-color: black; */
  background-image: url("../images/pattern.jpeg");
}
