/* universal */
div {
  font-family: Helvetica;
  font-weight: bold;
}
span {
  font-weight: bold;
  color: blue;
}
h2 {
  font-size: 32px;
  color: white;
}
/* header */
h1 {
  font-size: 100px;
  color: khaki;
  text-align: center;
}
.title {
  /* background-color: black; */
  background-image: url("../images/pattern.jpeg");
}

/* brushes */
.brushes {
  background-color: mediumspringgreen;
}

/* frames */
.frames {
  background-color: lightcoral;
}

/* paint */
.paint {
  background-color: skyblue;
}
/* footer */
