html {
  font-family: serif;
  background-color: lavender;
}
h1 {
  text-align: center;
  display: block;
  font-size: 50px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
h2 {
  text-align: center;
  display: block;
  font-size: 35px;
  font-weight: light;
  color: blueviolet;
}
p {
  display: block;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}
table {
  border: 2px solid darkorchid;
  width: 1800px;
  margin: 0 auto;
  border-spacing: 3px;
  font-size: 20px;
  text-align: center;
}
th {
  display: table-cell;
  text-align: -internal-center;
  background-color: blueviolet;
  font-size: 21px;
  color: white;
  padding: 3px;
}
td {
  border-top: 1px solid darkorchid;
}
.example:hover {
  cursor: pointer;
}
.code {
  font-family: monospace;
  background-color: rgba(153, 50, 204, 0.203);
}
.active:active {
  background-color: yellow;
}
.hover:hover {
  background-color: yellow;
}
.link a:link {
  background-color: yellow;
  text-decoration: none;
}
.visit a:link {
  color: black;
  text-decoration: none;
}
.visit a:visited {
  color: yellow;
}
