html {
  font-family: monospace;
  background-color: lavender;
}
h1 {
  text-align: center;
  display: block;
  font-size: 50px;
  font-weight: bold;
}
h2 {
  text-align: center;
  display: block;
  font-size: 35px;
  font-weight: light;
  color: blueviolet;
}
table {
  border: 2px solid darkorchid;
  width: 900px;
  margin: 0 auto;
}
th {
  display: table-cell;
  font-size: 20px;
  text-align: -internal-center;
  background-color: blueviolet;
  color: white;
}
