h1 {
  border-bottom: 2px black solid;
  padding-bottom: 10px;
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
.body {
  margin-left: 101px;
  margin-right: 101px;
}

.container {
  text-align: center;
  min-width: 300px;
  display: grid;
  border: 2px black solid;
  border-radius: 10px;
  grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  color: white;
  gap: 5px;
  padding: 5px;
}

.black {
  background-color: black;
  border-radius: 10px;
}
.silver {
  background-color: silver;
  border-radius: 10px;
}
.gray {
  background-color: gray;
  border-radius: 10px;
}
.white {
  background-color: white;
  color: black;
  border-radius: 10px;
}
.maroon {
  background-color: maroon;
  border-radius: 10px;
}
.red {
  background-color: red;
  border-radius: 10px;
}
.purple {
  background-color: purple;
  border-radius: 10px;
}
.fuchsia {
  background-color: fuchsia;
  border-radius: 10px;
}
.green {
  background-color: green;
  border-radius: 10px;
}
.lime {
  background-color: lime;
  border-radius: 10px;
}
.olive {
  background-color: olive;
  border-radius: 10px;
}
.yellow {
  background-color: yellow;
  color: black;
  border-radius: 10px;
}
.navy {
  background-color: navy;
  border-radius: 10px;
}
.blue {
  background-color: blue;
  border-radius: 10px;
}
.teal {
  background-color: teal;
  border-radius: 10px;
}
.aqua {
  background-color: aqua;
  border-radius: 10px;
}
