.text {
  border-top: 2px black solid;
  margin-top: 20px;
}

.fonts {
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 5px;
  min-width: 350px;
  /* font-size: 20px; */
}

.light {
  font-weight: 100;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.a {
  font-size: 30px;
  text-decoration: underline;
}
.arial {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: Arial;
}
.verdana {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: Verdana, sans-serif;
}
.helvetica {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: Helvetica;
}
.times {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}
.georgia {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: Georgia;
}
.courier {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
}
.brush {
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
  font-family: "Brush Script MT";
  /* font-size: 35px; */
}
.google {
  font-size: 35px;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
  padding: 5px;
}
