body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* header (logo & navbar) */
.header {
  width: 100%;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container img {
  height: 50px;
  padding: 10px 0 0 10px;
  margin-right: auto;
}
.container nav {
  margin-top: auto;
  margin-bottom: auto;
}
.container span {
  padding: 0px 20px;
  text-decoration: underline;
}

/* body (our mission) */
